<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>이상한 변호사 우영우</h1>
    <h2><a href="/KNeighbors">법무법인 한바다</a></h2>
    <div>
        똑바로 읽어도 거꾸로 읽어도 우영우<br>
        기러기 토마토 스위스 인도인 별똥별 우영우<br>
        ... 역삼역?<br><br>

        하지만 고래얘기가 꼭 필요한 상황이라면?<br>
        그럼 해야지 뭐..<br><br>

        회사에서 기러기 토마토 어? 그런 이야기를 하면 안돼<br>
        그러기가 쉽지 않아<br><br>

        이 사건은 재미있습니다! 제가 좋아하는 고래 퀴즈 같아요!<br>
        몸무게가 22톤인 암컷 향고래가 500kg에 달하는 대왕오징어를 먹고,<br>
        6시간뒤 1.5톤 짜리 알을 낳았다면 이 암컷 향고래의 몸무게는 얼마일까요?<br>
        -모르겠어요~..<br>
        정답은 '고래는 알을 낳을 수 없다'입니다!<br>
        고래는 포유류라 알이 아닌 새끼를 낳으니까요.<br>
        무게에만 초점을 맞추면 문제를 풀 수 없어요.<br>
        핵심을 봐야해요.
    </div>
</body>
</html>