<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    이 사건은 재미있습니다. 제가 좋아하는 고래퀴즈 같아요.
    <br>
    몸무게가 22톤인 암컷향고래가 500키로에 달하는 대왕오징어를 먹고 6시간뒤 1.3톤짜리 알을 낳았다면, 이 암컷향고래의 몸무게는 얼마일까요?
    <br>
    {{key1}}
    <br>
    정답은 '고래는 알을 낳을 수 없다' 입니다. 고래는 포유류라 알이 아닌 새끼를 낳으니까요. 무게에만 초점을 맞추면 문제를 풀 수 없어요. 핵심을 봐야해요.
    <br>
    <img src = "/img/<aa>">
    
</body>
</html>